.alternative-page {
    background-color: #AB92C9;
    font-family: 'Nunito Sans', sans-serif;
    background-image: url(../img/pixelback.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .card.custom-card-alternative {
    background-color: #604868;
    border: 2px solid white;
    margin-bottom: 15px;
  }
  
  .card-text {
    color: white;
    text-align: justify;
  }
  
  .card-text-alternative {
    font-family: 'Yatra One', cursive;
  }
  
  .titles-card {
    justify-content: center;
    text-align: center;
    font-family: 'Fruktur', cursive;
  }
  
  .sections-title2alternative {
    margin-top: 25px;
    font-family: 'Yatra One', cursive;
  }
  