.new-page {
    background-image: url(../img/chill-background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Nunito Sans', sans-serif;
  }
 
  .card.custom-card-new {
    background-color: #A0676D;
    border: 2px solid white;
    margin-bottom: 15px;
  }
 
  .card-text {
    color: #535353;
    text-align: justify;
  }
 
  .card-text-new {
    font-family: 'Share Tech Mono', monospace;
  }
 
  .titles-card {
    justify-content: center;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
  }
 
  .sections-title2new {
    margin-top: 25px;
    font-family: 'Bebas Neue', sans-serif;
  }