.dj-page {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Nunito Sans', sans-serif;
    justify-content: center;
    background-image: linear-gradient(to right, #bdc3c7, #46617b);
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .dj-footer {
    margin-bottom: 0;
    padding: 20px;
  }

.dj-paragraph{
  margin-top: 40px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 40px;
  justify-content: center;
  text-align: justify;
}  
  
.dj-title{
  margin-top: 20px;
}