.dj-page {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Nunito Sans', sans-serif;
    justify-content: center;
    background-image: linear-gradient(to right, #bdc3c7, #46617b);
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .dj-footer {
    margin-bottom: 0;
    padding: 20px;
  }
  