.h1-always {
    font-family: 'Tilt Prism', cursive;
  }
  
  .always-page {
    font-family: 'Nunito Sans', sans-serif;
    color: whitesmoke;
    background-image: url(../img/alternativebg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .always-artists .card {
    margin: 0;
  }
  