@media screen and (max-width: 768px) {
    nav {
      ul {
        flex-direction: column;
      }
  
      li {
        margin: 10px 0;
      }
    }
  }
  
  /* Mostrar el botón cuando se desplaza hacia abajo */
  @media (min-height: 400px) {
    #scroll-to-top-button {
      display: block;
    }
  }
  