.shop-page{
    background-color: #282E39;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Nunito Sans', sans-serif;
    
}
   
.shop-steam {
    margin-top: 20px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 50vh; 
}
 
  
    
.shop-main{
    color: whitesmoke;
    background-color: #282E39;
    text-align: center;
    text-justify: auto;
}
    

    
.shop-cards{
    color: #282E39;
    display: flex;
    justify-content: center;
}