// Body
$body-font: 'Varela Round', sans-serif;
$background-color: #a19898;
$text-body-color: #333;

// Header, Footer
$header-bg-color: #333;
$header-text-color: white;
$header-padding: 20px;
$h1-font: 'Tilt Prism', cursive;
$h2-font: 'Ubuntu', sans-serif;


